 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 763px;
  height: auto;
  min-height: 504px;
  margin: 29px 154px 0 223px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 73px;
  height: 73px;
  margin: -433px 32px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 472px;
  margin: 393px 162px 20px auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 48px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 -77px;
  padding: 2px 27px 3px 25px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 -77px;
  padding: 2px 27px 3px 25px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 auto 0 -77px;
  padding: 2px 27px 3px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 105px;
    margin-right: auto;
    margin-left: 75px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 24px 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -465px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 478px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -56px;
    margin-right: -81px;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -56px;
    margin-right: -81px;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -56px;
    margin-right: -81px;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-1 .u-group-1 {
    min-height: 476px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 191px;
    margin-right: auto;
    margin-left: 119px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -230px;
    margin-left: 101px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 144px;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: normal;
    margin-top: 14px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-left: 68px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-top: 73px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: 220px;
    margin-left: 14px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }
}

.u-block-16de-3:not([data-block-selected]):not([data-cell-selected]),
.u-block-16de-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-16de-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-16de-3:not([data-block-selected]):not([data-cell-selected]).u-block-16de-3:not([data-block-selected]):not([data-cell-selected]).u-block-16de-3:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  color: #b29a36 !important;
}

.u-block-16de-3:not([data-block-selected]):not([data-cell-selected]).u-block-16de-3:not([data-block-selected]):not([data-cell-selected]).u-block-16de-3:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  color: #b29a36 !important;
}

.u-container-layout:hover .u-block-16de-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-16de-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 54px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 98px;
  min-width: 68px;
  margin: 16px auto 12px;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-2 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}